/* ----------------------------------- PARTS ------------------------------ */
header{
    height: 3cm;
    padding: 1.5em 1em;
    text-align: right;
}

.title{
    font-size: 1.5rem;
}

.bloc{
    margin: 1em 0 .5em;
}

h2{
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.5em;
    color: #004;
    color: #0049;
}

.content{
    height: 100%;
}

.sidebar{
    min-width: 7cm;
    max-width: 7cm;
    height: 100%;
    background-color: #ccc;
    padding: .5em 0;
    border-radius: 0 35px;
}

.sidebar .bloc{
    text-align: center;
}

.sidebar .bloc ul{
    margin: 0;
}

.sidebar .bloc table tr td{
    padding: .3em 0;
}

.bloc ul,
.bloc table{
    margin: .3em 0 1em;
    padding: .5em .8em;
}

.bloc ul li,
.bloc table tr{
    margin: .5em 0;
}

.main-panel{
    height: 100%;
    text-align: justify;
    flex: 2 1 auto;
    padding: .5em 0 .5em 1em;
}

.main-panel .bloc ul li{
    margin: .5em 0;
}

.NB{
    font-style: italic;
    margin-left: 2em;
}

.place{
    text-align: right;
    color: #00B8BE;
}

.technos{
    text-align: right;
    font-style: italic;
}

.t-title::before{
    content: "\2616";
}